[Unit]
Description=PhotonVision
After=network.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/opt/photonvision
ExecStart=/usr/bin/java -jar /opt/photonvision/photonvision.jar
Restart=always
RestartSec=5
StandardOutput=journal
StandardError=journal

# Environment
Environment=JAVA_HOME=/usr/lib/jvm/java-17-openjdk-arm64

[Install]
WantedBy=multi-user.target
