# OS files
.DS_Store
**/.DS_Store

# IDE/Editor
.idea/
.vscode/
*.iml

# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Java
bin/
*.class
*.jar
*.war
*.ear
*.pdb

# WPILib / FRC specific
networktables.json
networktables.json.bck
simgui*.json
ctre_sim/

# Simulator subproject
simulator/
simulator/.gradle/
simulator/build/
simulator/tmp/

# Python
.venv/
__pycache__/
*.pyc

# Other
swervepy
