# OS files
.DS_Store
**/.DS_Store

# IDE/Editor
.idea/
.vscode/
*.iml

# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# Java
bin/
*.class
*.jar
*.war
*.ear
*.pdb

# 
networktables.json
networktables.json.bck
simgui*.json
ctre_sim/

# Anything in extras
extras/

# Python
.venv/
__pycache__/
*.pyc
